In [1]:
import os
import sys
import numpy as np
import pandas as pd

from sklearn.utils import shuffle
sys.path.append( os.getcwd()+'/modules' )
import aux_functions

In [2]:
#Loading datasets
os.chdir( "/home/toful/Documents/DataSets/cresci-2017.csv/datasets_full.csv/" )

real = pd.read_csv( 'genuine_accounts.csv/genuine_accounts.csv/users.csv' )
real = real.fillna( '' )
real['knownbot'] = 0

fakeFollowers = pd.read_csv('fake_followers.csv/fake_followers.csv/users.csv', na_filter=False)
fakeFollowers = fakeFollowers.fillna( '' )
fakeFollowers['knownbot'] = 1

df = pd.concat( [ real, fakeFollowers ], sort=False )
df = shuffle( df )
print df.head()
print df.info()

              id             name      screen_name  statuses_count  \
2848   617638457   Sheri Randolph      randolphtbt              20
1282    31485644     Mandy Ramone       SamhainKWC           22770
2485   616538559     Ling Richard        lingrepyj              29
1668  1175691536   Tanisha Garber  GarberiwiTanish              17
1008  2236885646  Matthew Buffrie      Mlguthrie98           14643

      followers_count  friends_count  favourites_count  listed_count  \
2848                9            334                 0             0
1282              294            114               234            17
2485               18            373                 0             0
1668                4            187                 0             0
1008              442             56             21547             2

                         url lang  ...  \
2848                           en  ...
1282  http://t.co/gZVMfFjsYw   en  ...
2485                           en  ...
1668                           en  ...
1008                           en  ...

                                            description contributors_enabled  \
2848                                    wats god ladies
1282  Mandy Ramone 20 / Spanish cosplayer / Founder ...
2485  KAYA/KC FROM OXYGENS BAD GIRLS CLUB#3. PROMOTI...
1668  Site de compras coletivas focado em agroegócio...
1008    Damn. Hustlin' in Hemet. Future 212 Mr Olympia.

     following                      created_at            timestamp  \
2848            Mon Jun 25 01:12:59 +0000 2012                  NaN
1282            Wed Apr 15 19:03:27 +0000 2009  2009-04-15 21:03:27
2485            Sat Jun 23 20:46:05 +0000 2012                  NaN
1668            Wed Feb 13 15:38:57 +0000 2013                  NaN
1008            Mon Dec 09 02:36:21 +0000 2013  2013-12-09 03:36:21

               crawled_at              updated test_set_1 test_set_2 knownbot
2848                  NaN  2013-06-12 18:38:35        NaN        NaN        1
1282  2015-05-01 16:41:47  2016-03-15 16:00:14        0.0        0.0        0
2485                  NaN  2013-06-12 18:38:35        NaN        NaN        1
1668                  NaN  2013-06-12 18:38:35        NaN        NaN        1
1008  2015-05-01 14:23:39  2016-03-15 15:58:53        0.0        0.0        0

[5 rows x 43 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6825 entries, 2848 to 2077
Data columns (total 43 columns):
id                                    6825 non-null int64
name                                  6825 non-null object
screen_name                           6825 non-null object
statuses_count                        6825 non-null int64
followers_count                       6825 non-null int64
friends_count                         6825 non-null int64
favourites_count                      6825 non-null int64
listed_count                          6825 non-null int64
url                                   6825 non-null object
lang                                  6825 non-null object
time_zone                             6825 non-null object
location                              6825 non-null object
default_profile                       6825 non-null object
default_profile_image                 6825 non-null object
geo_enabled                           6825 non-null object
profile_image_url                     6825 non-null object
profile_banner_url                    6825 non-null object
profile_use_background_image          6825 non-null object
profile_background_image_url_https    6825 non-null object
profile_text_color                    6825 non-null object
profile_image_url_https               6825 non-null object
profile_sidebar_border_color          6825 non-null object
profile_background_tile               6825 non-null object
profile_sidebar_fill_color            6825 non-null object
profile_background_image_url          6825 non-null object
profile_background_color              6825 non-null object
profile_link_color                    6825 non-null object
utc_offset                            6825 non-null object
is_translator                         6825 non-null object
follow_request_sent                   6825 non-null object
protected                             6825 non-null object
verified                              6825 non-null object
notifications                         6825 non-null object
description                           6825 non-null object
contributors_enabled                  6825 non-null object
following                             6825 non-null object
created_at                            6825 non-null object
timestamp                             3474 non-null object
crawled_at                            3474 non-null object
updated                               6825 non-null object
test_set_1                            3474 non-null float64
test_set_2                            3474 non-null float64
knownbot                              6825 non-null int64
dtypes: float64(2), int64(7), object(34)
memory usage: 2.3+ MB
None

In [3]:
#Building the working dataset
score = pd.DataFrame()
score['id'] = df['id']

score['lang-en'] = df.apply( lambda row: aux_functions.language (row), axis=1 )
score['profile_pic'] = df.apply( lambda row: aux_functions.profile_image (row), axis=1 ) #check this feature
score['def_profile_pic'] = df.apply( lambda row: aux_functions.def_profile_image (row), axis=1 )
score['has_screen_name'] = df.apply( lambda row: aux_functions.screen_name (row), axis=1 )
score['30followers'] = df.apply ( lambda row: aux_functions.min_followers (row, 30), axis=1 )
score['1000friends'] = df.apply (lambda row: aux_functions.min_friends (row, 1000), axis=1 )
score['twice_num_followers'] = df.apply (lambda row: aux_functions.ratio_followers (row), axis=1 )
score['fifty_FriendsFollowersRatio'] = df.apply (lambda row: aux_functions.ratio_followers2 (row, 50),axis=1)
score['hundred_FriendsFollowersRatio'] = df.apply (lambda row: aux_functions.ratio_followers2 (row, 100),axis=1)
score['geoloc'] = df.apply ( lambda row: aux_functions.location (row), axis=1 )
score['banner_link'] = df.apply ( lambda row: aux_functions.profile_banner (row), axis=1 )
score['50tweets'] = df.apply ( lambda row: aux_functions.tweets_written (row, 50), axis=1 )
score['20statuses'] = df.apply (lambda row: aux_functions.min_statuses (row, 20), axis=1 )
score['NeverTweeted'] = df.apply (lambda row: aux_functions.never_tweeted (row ), axis=1 )
score['has_description'] = df.apply (lambda row: aux_functions.description (row),axis=1)
score['knownbot'] = df.apply (lambda row: aux_functions.knownbot (row),axis=1)

print score.shape
print score.describe()

score

(6825, 17)
                 id      lang-en  profile_pic  def_profile_pic  \
count  6.825000e+03  6825.000000       6825.0      6825.000000
mean   8.499737e+08     0.898022          0.0         0.002784
std    7.662248e+08     0.302642          0.0         0.052693
min    6.780330e+05     0.000000          0.0         0.000000
25%    2.597067e+08     1.000000          0.0         0.000000
50%    6.168972e+08     1.000000          0.0         0.000000
75%    1.174963e+09     1.000000          0.0         0.000000
max    3.164942e+09     1.000000          0.0         1.000000

       has_screen_name  30followers  1000friends  twice_num_followers  \
count      6825.000000  6825.000000  6825.000000          6825.000000
mean          0.000147     0.492601     0.076337             0.588425
std           0.012105     0.499982     0.265556             0.492155
min           0.000000     0.000000     0.000000             0.000000
25%           0.000000     0.000000     0.000000             0.000000
50%           0.000000     0.000000     0.000000             1.000000
75%           0.000000     1.000000     0.000000             1.000000
max           1.000000     1.000000     1.000000             1.000000

       fifty_FriendsFollowersRatio  hundred_FriendsFollowersRatio  \
count                  6825.000000                    6825.000000
mean                      0.091722                       0.051722
std                       0.288654                       0.221481
min                       0.000000                       0.000000
25%                       0.000000                       0.000000
50%                       0.000000                       0.000000
75%                       0.000000                       0.000000
max                       1.000000                       1.000000

            geoloc  banner_link     50tweets   20statuses  NeverTweeted  \
count  6825.000000  6825.000000  6825.000000  6825.000000   6825.000000
mean      0.663883     0.954725     0.410696     0.184615      0.020220
std       0.472414     0.207921     0.491996     0.388014      0.140762
min       0.000000     0.000000     0.000000     0.000000      0.000000
25%       0.000000     1.000000     0.000000     0.000000      0.000000
50%       1.000000     1.000000     0.000000     0.000000      0.000000
75%       1.000000     1.000000     1.000000     0.000000      0.000000
max       1.000000     1.000000     1.000000     1.000000      1.000000

       has_description     knownbot
count      6825.000000  6825.000000
mean          0.212747     0.490989
std           0.409280     0.499955
min           0.000000     0.000000
25%           0.000000     0.000000
50%           0.000000     0.000000
75%           0.000000     1.000000
max           1.000000     1.000000

,id,lang-en,profile_pic,def_profile_pic,has_screen_name,30followers,1000friends,twice_num_followers,fifty_FriendsFollowersRatio,hundred_FriendsFollowersRatio,geoloc,banner_link,50tweets,20statuses,NeverTweeted,has_description,knownbot
2848,617638457,1,0,0,0,1,0,1,0,0,1,1,1,0,0,0,1
1282,31485644,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2485,616538559,1,0,0,0,1,0,1,0,0,1,1,1,0,0,0,1
1668,1175691536,1,0,0,0,1,0,1,0,0,1,1,1,1,0,0,1
1008,2236885646,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0
595,83285256,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1029,2411423599,1,0,0,0,1,0,1,0,0,1,1,0,0,0,0,0
82,53114456,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0
646,349013016,0,0,0,0,1,0,1,1,0,1,1,0,0,0,1,1
2120,616220140,1,0,0,0,1,0,1,0,0,1,1,0,0,0,1,1
2030,616206143,1,0,0,0,1,0,1,0,0,1,1,0,0,0,0,1
1875,480748987,1,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0
1571,2936733162,1,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0
46,131043638,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0
1702,29745877,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1321,1358444779,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
510,254716078,0,0,0,0,1,0,1,1,1,1,1,1,1,1,1,1
765,2169418620,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0
3173,710386668,1,0,0,0,1,0,1,0,0,1,1,1,0,0,0,1
801,546818678,0,0,0,0,1,0,1,1,1,1,1,1,1,0,1,1
1974,261762296,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1705,1175764808,1,0,0,0,1,0,1,0,0,1,1,1,1,0,0,1
3038,619456829,1,0,0,0,1,0,1,0,0,1,1,1,0,0,0,1
634,349152819,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2690,617111228,1,0,0,0,1,0,1,0,0,1,1,1,0,0,0,1
655,1413677126,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1825,1176044797,1,0,0,0,1,0,1,0,0,1,1,1,0,0,0,1
85,1892545526,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
373,270654915,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2810,381602776,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1351,1174530324,1,0,0,0,1,0,1,0,0,1,1,1,1,0,1,1
2242,616229867,1,0,0,0,1,0,1,0,0,1,1,1,0,0,0,1
1412,889621423,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
647,53389180,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1200,96352997,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2330,616298907,1,0,0,0,1,0,1,0,0,1,1,0,0,0,0,1
3411,2992735788,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0
2123,616220414,1,0,0,0,1,0,1,0,0,1,1,0,0,0,0,1
294,193609769,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
560,29552151,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0
1116,1128838741,1,0,0,0,1,0,1,0,0,1,1,1,1,0,0,1
1861,1176135906,1,0,0,0,1,0,1,0,0,1,1,1,0,0,0,1
2993,618844802,1,0,0,0,1,0,1,0,0,1,1,1,0,0,0,1
2960,26621229,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
2917,617824831,1,0,0,0,1,0,1,0,0,1,1,1,0,0,0,1
2154,616222768,1,0,0,0,1,0,1,0,0,1,1,0,0,0,0,1
2910,2917922532,1,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0
1208,1897403821,1,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0
2096,1061289924,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0
1232,423893707,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2286,2339482580,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1953,21289751,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
530,264569198,1,0,0,0,1,0,1,1,0,1,1,1,1,1,1,1
764,363309757,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
40,34762630,1,0,0,0,0,0,1,0,0,1,1,1,0,0,0,1
1030,38788028,1,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0
654,354306025,0,0,0,0,1,0,1,1,0,1,1,1,1,1,1,1
1185,140356430,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2481,2679802405,1,0,1,0,1,0,1,0,0,1,0,1,1,0,1,0
2077,544758247,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0

# D

In [ ]:
from sklearn.model_selection import ShuffleSplit
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics as mt

if 'knownbot' in score:
    y = score['knownbot'].values # get the labels we want
    del score['knownbot'] # get rid of the class label
    X = score.values # use everything else to predict

num_cv_iterations = 3
num_instances = len(y)
cv_object = ShuffleSplit( n_splits=num_cv_iterations, test_size = 0.2 )

# first we create a reusable logisitic regression and random forest objects
lr_clf = LogisticRegression( penalty='l2', C=1.0, class_weight=None ) # get object
rf_clf = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)

iter_num=0
# the indices are the rows used for training and testing in each iteration
for train_indices, test_indices in cv_object.split( X, y ):
    X_train = X[train_indices]
    y_train = y[train_indices]
    X_test = X[test_indices]
    y_test = y[test_indices]
    
    # train the reusable logisitc regression model on the training data
    #lr_clf.fit( X_train, y_train ) # train object
    #y_pred = lr_clf.predict( X_test ) # get test set precitions
   
    rf_clf.fit( X_train, y_train ) # train object
    y_pred = rf_clf.predict( X_test ) # get test set precitions
    cc = mt.accuracy_score( y_test, y_pred )
    conf = mt.confusion_matrix( y_test, y_pred )
    # now let's get the accuracy and confusion matrix for this iterations of training/testing
    print "\n====Iteration",iter_num," ===="
    print "RANDOM FOREST"
    print "accuracy: ", acc
    print "confusion matrix\n", conf
    tp = float( conf[1][1] )
    fp = float( conf[0][1] )
    fn = float( conf[1][0] )
    precission = tp / (tp + fp)
    recall = tp / (tp + fn)
    f1 = 2*precission*recall/(precission+recall)
    print "F1: ", f1, "\tPrecission: ", precission, "\tRecall: ", recall
    iter_num+=1